{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block content %}

<div class="centered">
    <br><br><br><br><br><br><br><br>


    <button type="button" class="btn btn-info" onclick=getData();>
        Get Status
    </button>
    <br><br>

    <div class="table-responsive">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th colspan="2" class="bg-info">Smart Farm</th>
                </tr>
                <tr class="bg-primary">
                    <th>Farm</th>
                    <th>Data</th>
                </tr>
                <tr>
                    <th>Farm 1 Temperature</th>
                    <td><input id="farm1" disabled></td>
                </tr>
                <tr>
                    <th>Farm 2 Temperature</th>
                    <td><input id="farm2" disabled></td>
                </tr>
                <tr>
                    <th>Farm 3 Temperature</th>
                    <td><input id="farm3" disabled></td>
                </tr>
            </thead>
        </table>
    </div>

</div>

<script>

    var farm1 = document.getElementById("farm1");
    var farm2 = document.getElementById("farm2");
    var farm3 = document.getElementById("farm3");

    // var base_url = 'http://localhost:3000/data';
    var base_url = 'http://localhost:5000/data';

    function getData() {

        fetch(base_url)
            .then(response => response.json())
            .then(data => { console.log(data); 
                farm1.value = data.farm1;
                farm2.value = data.farm2;
                farm3.value = data.farm3;
            })
    }

    // async function getData() {
    //     while (true) {
    //         await new Promise(r => setTimeout(r, 3000));
    //         fetch(base_url)
    //             .then(response => response.json())
    //             .then(data => { console.log(data); 
    //                 lighting.value = data.lighting;
    //                 autowatering.value = data.autowatering;
    //                 notifications.value = data.notifications;
    //                 lightintensity.value = data.lightintensity;
    //                 plantwater.value = data.plantwater;
    //                 reservewater.value = data.reservewater;
    //                 state.value = data.state;
    //             })
    //     }
    // }

    // getData();

</script>



{% endblock %}